<head>
  <%- include("../partials/head") %>
</head>

<%- include("../partials/headeradmin") %>

<main role="main" class="container">
  <div class="starter-template">
    <h2 class="page-title">Add a Category</h2>
    <a href="/admin/categories" class="btn btn-primary"
      >Back to all categories</a
    >
    <br />

    <form action="/admin/categories/add-category" method="POST">
      <div class="form-group">
        <label for="">Title</label>
        <input
          type="text"
          name="title"
          value="<%= title %>"
          class="form-control"
          placeholder="Title"
        />
      </div>

      <button class="btn btn-light">Submit</button>
    </form>
  </div>
</main>

<footer id="footer" class="bg-dark text-white py-5">
  <%- include ("../partials/footer") %>
</footer>
