<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/admin/products" class="navbar-brand logo-header">
    <img src="/images/logo/1.png" class="" alt="" />
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link font-size-16" href="/admin/products"
          >Products <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link font-size-16" href="/admin/categories"
          >Categories <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
    <div class="my-2 my-lg-0 nav-bar-left">
      <li class="nav-item">
        <form class="form-inline form-search">
          <input
            class="form-control mr-sm-2 input-search"
            placeholder="Search"
          />
          <button class="btn my-2 my-sm-0 btn-search" type="submit">
            <i class="fa fa-search font-size-20" aria-hidden="true"></i>
          </button>
        </form>
      </li>
      <li class="nav-item">
        <a class="font-size-14 text-dark" href="/auth/logout">Log out</a>
      </li>
    </div>
  </div>
</nav>
