<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
</head>
<body>
    <header id="header">
        <%- include ("../partials/header") %>
    </header>
    <main id="main">
      <section id="banner-area">
        <div class="owl-carousel owl-theme">
          <div class="item">
            <img src="/images/banner/1.jpg" alt="" class="img-fluid" height="80%">
          </div>
          <div class="item">
            <img src="/images/banner/2.jpg" alt="" class="img-fluid" height="80%">
          </div>
          <div class="item">
            <img src="/images/banner/3.jpg" alt="" class="img-fluid" height="80%">
          </div>
      </div>
      </section>
      <!-- Top sale -->
      <section id="top-sale">
        <div class="container py-5">
            <h4 class="font-rubik font-size-20">Top Sale</h4>
            <hr>
            <!-- Owl-carousel -->
            <div class="owl-carousel owl-theme">
                <div class="item py-2">
                    <div class="product">
                        <a href=""><img src="/images/dress/1.jpg" alt="product1" class="img-fluid"></a>
                        <div class="text-center">
                            <h6>Samsung Galaxy 10</h6>
                            <div class="rating text-warning font-size-12">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price py-2">
                                <span>$152</span>
                            </div>
                            <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item py-2">
                    <div class="product">
                        <a href=""><img src="/images/dress/2.jpg" alt="product1" class="img-fluid"></a>
                        <div class="text-center">
                            <h6>Samsung Galaxy 10</h6>
                            <div class="rating text-warning font-size-12">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price py-2">
                                <span>$152</span>
                            </div>
                            <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item py-2">
                    <div class="product">
                        <a href=""><img src="/images/bikini/1.jpg" alt="product1" class="img-fluid"></a>
                        <div class="text-center">
                            <h6>Samsung Galaxy 10</h6>
                            <div class="rating text-warning font-size-12">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price py-2">
                                <span>$152</span>
                            </div>
                            <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item py-2">
                    <div class="product font-rale">
                        <a href="#"><img src="/images/bikini/2.jpg" alt="product2" class="img-fluid"></a>
                    </div>
                    <div class="text-center">
                        <h6>Apple Iphone 10</h6>
                        <div class="rating text-warning font-size-12">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="price py-2">
                            <span>$152</span>
                        </div>
                        <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                    </div>
                </div>
                <div class="item py-2">
                    <div class="product font-rale">
                        <a href="#"><img src="/images/jeans/1.jpg" alt="product2" class="img-fluid"></a>
                    </div>
                    <div class="text-center">
                        <h6>Apple Iphone 10</h6>
                        <div class="rating text-warning font-size-12">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="price py-2">
                            <span>$152</span>
                        </div>
                        <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                    </div>
                </div>
                <div class="item py-2">
                    <div class="product font-rale">
                        <a href="#"><img src="/images/dress/1.jpg" alt="product2" class="img-fluid"></a>
                    </div>
                    <div class="text-center">
                        <h6>Apple Iphone 10</h6>
                        <div class="rating text-warning font-size-12">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="price py-2">
                            <span>$152</span>
                        </div>
                        <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Special Price -->
    <section id="special-price">
        <div class="container">
            <h4 class="font-rubik font-size-20">Special Price</h4>
            <div id="filters" class="button-group text-right">
                <button class="btn is-checked" data-filter="*">All Brand</button>
                <button class="btn" data-filter=".Dress">Dress</button>
                <button class="btn" data-filter=".Bikini">Bikini</button>
                <button class="btn" data-filter=".Jeans">Jeans</button>
                <button class="btn" data-filter=".T-shirt">T-shirt</button>
                <button class="btn" data-filter=".Trainer">Trainer</button>
            </div>

            <div class="grid">
                <div class="grid-item Dress border">
                    <div class="item py-2" style="width: 200px">
                        <div class="product font-rale">
                            <a href="#"><img src="/images/dress/1.jpg" alt="product1" class="img-fluid"></a>
                            <div class="text-center">
                                <h6>Dress 10</h6>
                                <div class="rating text-warning font-size-12">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price py-2">
                                    <span>$152</span>
                                </div>
                                <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item Bikini border">
                    <div class="item py-2" style="width: 200px">
                        <div class="product font-rale">
                            <a href="#"><img src="/images/bikini/1.jpg" alt="product1" class="img-fluid"></a>
                            <div class="text-center">
                                <h6>Bikini 10</h6>
                                <div class="rating text-warning font-size-12">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price py-2">
                                    <span>$152</span>
                                </div>
                                <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item Bikini border">
                    <div class="item py-2" style="width: 200px">
                        <div class="product font-rale">
                            <a href="#"><img src="/images/bikini/1.jpg" alt="product1" class="img-fluid"></a>
                            <div class="text-center">
                                <h6>Bikini 11</h6>
                                <div class="rating text-warning font-size-12">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price py-2">
                                    <span>$152</span>
                                </div>
                                <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item Jeans border">
                    <div class="item py-2" style="width: 200px">
                        <div class="product font-rale">
                            <a href="#"><img src="/images/jeans/1.jpg" alt="product1" class="img-fluid"></a>
                            <div class="text-center">
                                <h6>Jeans 8</h6>
                                <div class="rating text-warning font-size-12">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price py-2">
                                    <span>$152</span>
                                </div>
                                <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item Jeans border">
                    <div class="item py-2" style="width: 200px">
                        <div class="product font-rale">
                            <a href="#"><img src="/images/jeans/2.jpg" alt="product1" class="img-fluid"></a>
                            <div class="text-center">
                                <h6>Jeans 7</h6>
                                <div class="rating text-warning font-size-12">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price py-2">
                                    <span>$152</span>
                                </div>
                                <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item T-shirt border">
                    <div class="item py-2" style="width: 200px">
                        <div class="product font-rale">
                            <a href="#"><img src="/images/t-shirt/1.jpg" alt="product1" class="img-fluid"></a>
                            <div class="text-center">
                                <h6>T-shirt </h6>
                                <div class="rating text-warning font-size-12">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price py-2">
                                    <span>$152</span>
                                </div>
                                <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item T-shirt border">
                    <div class="item py-2" style="width: 200px">
                        <div class="product font-rale">
                            <a href="#"><img src="/images/t-shirt/3.jpg" alt="product1" class="img-fluid"></a>
                            <div class="text-center">
                                <h6>T-shirt Y</h6>
                                <div class="rating text-warning font-size-12">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price py-2">
                                    <span>$152</span>
                                </div>
                                <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item Trainer border">
                    <div class="item py-2" style="width: 200px">
                        <div class="product font-rale">
                            <a href="#"><img src="/images/trainers/1.jpg" alt="product1" class="img-fluid"></a>
                            <div class="text-center">
                                <h6>Trainer A71</h6>
                                <div class="rating text-warning font-size-12">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price py-2">
                                    <span>$152</span>
                                </div>
                                <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item Trainer border">
                    <div class="item py-2" style="width: 200px">
                        <div class="product font-rale">
                            <a href="#"><img src="/images/trainers/2.jpg" alt="product1" class="img-fluid"></a>
                            <div class="text-center">
                                <h6>Trainer 10</h6>
                                <div class="rating text-warning font-size-12">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price py-2">
                                    <span>$152</span>
                                </div>
                                <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item Trainer border">
                    <div class="item py-2" style="width: 200px">
                        <div class="product font-rale">
                            <a href="#"><img src="/images/trainers/1.jpg" alt="product1" class="img-fluid"></a>
                            <div class="text-center">
                                <h6>Trainer Pro</h6>
                                <div class="rating text-warning font-size-12">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price py-2">
                                    <span>$152</span>
                                </div>
                                <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- New phones -->
    <section id="new-phones">
        <div class="container py-5">
            <h4 class="font-rubik font-size-20">New Phones</h4>
            <hr>
            <!-- Owl-carousel -->
            <div class="owl-carousel owl-theme">
                <div class="item py-2 bg-light">
                    <div class="product">
                        <a href="#"><img src="/images/dress/1.jpg" alt="product1" class="img-fluid"></a>
                        <div class="text-center">
                            <h6>Samsung Galaxy 10</h6>
                            <div class="rating text-warning font-size-12">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price py-2">
                                <span>$152</span>
                            </div>
                            <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="item py-2 bg-light">
                    <div class="product font-rale">
                        <a href="#"><img src="/images/dress/1.jpg" alt="product2" class="img-fluid"></a>
                    </div>
                    <div class="text-center">
                        <h6>Apple Iphone 10</h6>
                        <div class="rating text-warning font-size-12">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="price py-2">
                            <span>$152</span>
                        </div>
                        <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                    </div>
                </div>
                <div class="item py-2 bg-light">
                    <div class="product font-rale">
                        <a href="#"><img src="/images/dress/1.jpg" alt="product3" class="img-fluid"></a>
                    </div>
                    <div class="text-center">
                        <h6>Redmi Node 6</h6>
                        <div class="rating text-warning font-size-12">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="price py-2">
                            <span>$152</span>
                        </div>
                        <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                    </div>
                </div>
                <div class="item py-2 bg-light">
                    <div class="product font-rale">
                        <a href="#"><img src="/images/dress/1.jpg" alt="product4" class="img-fluid"></a>
                    </div>
                    <div class="text-center">
                        <h6>Samsung Galaxy Y</h6>
                        <div class="rating text-warning font-size-12">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="price py-2">
                            <span>$152</span>
                        </div>
                        <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                    </div>
                </div>
                <div class="item py-2 bg-light">
                    <div class="product font-rale">
                        <a href="#"><img src="/images/dress/1.jpg" alt="product5" class="img-fluid"></a>
                    </div>
                    <div class="text-center">
                        <h6>Aplle Iphone 11 Plus</h6>
                        <div class="rating text-warning font-size-12">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="price py-2">
                            <span>$152</span>
                        </div>
                        <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                    </div>
                </div>
                <div class="item py-2 bg-light">
                    <div class="product font-rale">
                        <a href="#"><img src="/images/dress/1.jpg" alt="product6" class="img-fluid"></a>
                    </div>
                    <div class="text-center">
                        <h6>Redmi Note 7</h6>
                        <div class="rating text-warning font-size-12">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="price py-2">
                            <span>$152</span>
                        </div>
                        <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                    </div>
                </div>
                <div class="item py-2 bg-light">
                    <div class="product font-rale">
                        <a href="#"><img src="/images/dress/1.jpg" alt="product8" class="img-fluid"></a>
                    </div>
                    <div class="text-center">
                        <h6>Samsung Galaxy A</h6>
                        <div class="rating text-warning font-size-12">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="price py-2">
                            <span>$152</span>
                        </div>
                        <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                    </div>
                </div>
                <div class="item py-2 bg-light">
                    <div class="product font-rale">
                        <a href="#"><img src="/images/dress/1.jpg" alt="product10" class="img-fluid"></a>
                    </div>
                    <div class="text-center">
                        <h6>Apple Iphone 12</h6>
                        <div class="rating text-warning font-size-12">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="price py-2">
                            <span>$152</span>
                        </div>
                        <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </main>
    <footer id="footer" class="bg-dark text-white py-5">
        <%- include ("../partials/footer") %>
    </footer>
    <%- include("../partials/script")  %>
    <script>
         $(document).ready(function(){
          // banner owl carousel
          $("#banner-area .owl-carousel").owlCarousel({
                dots: true,
                items: 1
            });
            //top sale carousel
            $("#top-sale .owl-carousel").owlCarousel({
                nav: true,
                loop: true,
                dots: false,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 5
                    }
                }
            });

            var $grid = $(".grid").isotope({
                itemSelector: '.grid-item',
                layoutMode: 'fitRows'
            });

            //filter items on button click
            $(".button-group").on("click","button",function() {
                var filterValue = $(this).attr('data-filter');
                $grid.isotope({filter: filterValue});
            })

            //new phone carousel
            $("#new-phones .owl-carousel").owlCarousel({
               items: 5,
               nav: false,
               dots: true,
               loop: true,
               responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 5
                    }
                }
            });
            $("#laest-block .owl-carousel").owlCarousel({
               items: 3,
               nav: false,
               dots: false,
               loop: true,
            });

            $(".product a").click(function(e) {
                var alt = $(this).children("img").attr("alt");
                var src = "./product.html#" + alt;
                console.log(src);
                $(this).attr("href", src);
            });
         });
    </script>
</body>
</html>