<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head") %>
</head>

<body>
    <main id="main-login">
        <div class="container">
            <div class="row">
              <div class="col-sm-6 text-center div-logo">
                <img src="/images/logo/1.jpg" alt="" class="img-fluid logo mx-auto my-5">
              </div>
              <div class="col-sm-6">
                <div class="mx-5">
                  <div class="card card-signin my-5 card-login">
                    <div class="card-body">
                      <h5 class="card-title text-center">Sign In</h5>
                      <form class="form-signin" action="/auth/login" method="post">
                        <div class="form-label-group font-size-20">
                          <input type="email" idcircle="inputEmail" class="form-control" name="email" placeholder="Email address" required autofocus>
                        </div>
                        <div class="form-label-group">
                          <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                          <input type="checkbox" class="custom-control-input" id="customCheck1">
                          <label class="custom-control-label" for="customCheck1">Remember password</label>
                          <a class="register-link font-size-18" href="/auth/register">Register</a>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                        <hr class="my-4">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </main>
    <footer id="footer" class="bg-dark text-white py-5">
        <%- include ("../partials/footer") %>
    </footer>
    <%- include("../partials/script")  %>
    <script>

    </script>
</body>
</html>