<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>
<body>
    <main id="main-register">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <img src="/images/logo/1.jpg" alt="" class="img-fluid logo mx-5 my-5">
                  </div>
                <div class="col-sm-6">
                    <div class="mx-5">
                        <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">Register</h5>
                            <form class="form-signin" action="/auth/register" method="post">
                            <div class="form-label-group">
                                <label for="inputEmail">Email address</label>
                                <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" required autofocus>
                            </div>
                            <div class="form-label-group">
                                <label for="inputName">Account</label>
                                <input id="inputName" class="form-control" name="name" placeholder="Account" required autofocus>
                            </div>
                            
                            <div class="form-label-group">
                                <label for="inputPassword">Password</label>
                                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
                            </div>
                            <div class="form-label-group">
                                <label for="inputPasswordComfirm">Corfirm Password</label>
                                <input type="password" id="inputPasswordComfirm" class="form-control" name="confirm" placeholder="Password Corfirm" required>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" style="margin-top: 20px">Register</button>
                            <hr class="my-4">
                            </form>
                        </div>
                        </div>
                </div>
                </div>
            </div>
          </div>
    </main>
    <footer id="footer" class="bg-dark text-white py-5">
        <%- include ("../partials/footer") %>
    </footer>
    <%- include("../partials/script") %>
    <script>

    </script>
</body>
</html>